html {
  background-image: linear-gradient(to bottom, #d4f0fc 0%, #02577a 100%);
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  width: 90%;
  background-color: white;
  margin: 15px auto;          
  padding: 15px 1.5em;        
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 5px 5px 0 0;
  background-image: url("../images/sampic.png ");
  background-position: 97%;
  background-repeat: repeat-y;
  background-attachment: fixed;
}

a:hover, a:focus {
  font-style: italic;
  color: orangered;
}
header {
    margin-bottom: 3em;
}

header h1 {
  font-size: 175%;
  color: #02577a;
  text-indent: 30px;
}

header h2 {
  font-size: 130%;
  color: #02577a;
  text-indent: 30px;
}

header img {
  float: left;
  margin-left: 2em;
  margin-right: 1em;
}

.shadow {
  text-shadow: 2px 2px 2px #02577a;
}

main {
  clear: left;
}

main h3 {
  margin-top: 3em;
  font-size: 105%;
}

#list {
  line-height: 1.5em;
}

main h3{
    margin: 1.5em 2em 1.5em;
    border: 5px dashed blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px lightblue;
    padding: 1em;
}
main nav {
    margin: 1.5em 2em 1.5em;
    border: 5px dashed blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px lightblue;
    padding: 0.5em;
}
main div.contact {
    margin: 1.5em 2em 0 2em;
    border: 5px dashed blue;
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px lightblue;
    padding: 1em;
}
footer p {
  text-align: center;
  font-size: 80%;
}