html, body {
    margin: 1em;
    height: 100%;
    font-size: 100%;
}

* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

table.first {
    border-collapse: separate;
    border: 2px solid black;    
}

table.first th, table.first td {
    border: 2px solid blue;
}

table.first tr:nth-child(odd) {
    background-color: lightblue;
}

table.second {    
    border-collapse: collapse; 
    border: 2px solid purple;   
    caption-side: bottom;
}

table.second th {
    background-color: salmon;
}

table.second th, table.second td {
    padding: 0.7em;  
    vertical-align: middle;
    border: 2px solid purple;
}

table.second thead tr:first-child {     
    border-bottom: 2px solid purple;
}

table.third {
    border-collapse: collapse;
    margin-top: 1em;
    min-width: 290px;
}

table.third th,
table.third td {
    padding: 0.5em 0.7em;
    text-align: left;
}

table.third thead tr:first-child {
    border-top: 3px solid orangered;
    border-bottom: 2px solid orangered;
}

table.third thead tr:first-child th {
    background-color: lightgreen;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

table.third thead tr:nth-child(2) {
    border-bottom: 2px solid orangered;
}

table.third thead tr:nth-child(2) th {
    background-color: lightgreen;
    font-weight: bold;
    font-size: 1.1em;
}

table.third tbody td.number {
    vertical-align: top;
    width: 80px;
}

table.third tbody tr:last-child {
    border-bottom: 3px solid orangered;
}

body {
  margin-bottom: 40px;
}
@media only screen and (max-width: 425px) {
    th, td {
        display: block;
    }

    thead, td.number {
        display: none;
        padding: 0;
    }
}